html
  head
    title Felix Wu's Presentations
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css", media='screen,projection')
    link(rel="stylesheet", href="./assets/index.css")
    link(rel="shortcut icon", href="http://flxwu.com/favicon.png", type="image/x-icon")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    main
      -
        var data = [
            [{
                title: 'Firebase 101',
                desc: 'A Crash Course on Google\'s Cloud Computing Service Firebase',
                link: 'http://presentations.flxwu.com/firebase-101'
            }, {
                title: 'Crash Course Git',
                desc: 'A Quick Introduction to modern Version Control using Git and Github.',
                link: 'https://docs.google.com/presentation/d/1ue9GwJ9vSO-f7Hqeju-aOvVJJVqGP3PWph_pXw6UQjM/edit?usp=sharing'
            }, {
                title: 'Crash Course React',
                desc: 'A Quick Introduction to dynamic User Interfaces using React.js.',
                link: 'http://presentations.flxwu.com/crash-course-react'
            }]
        ];
      .container
        .subtitle
          h5
            p I recently started holding #tech talks - for several reasons:
          p.grey-text 
            ol  
              li because I would have never come so far without all these great talks by others <3 
              li because I want to help others the same way tech talks helped me 
              li because being able to pass on my knowledge and experience for helping others just feels great
              li I want to inspire other teenagers - just follow your passion, don't worry about your age! :P
      - let counter = 1
      for presrow in data
        .row
          for pres in presrow
            .col.s12.m6
              .card.card-right
                .card-image
                  img(src=`./assets/screenshot-${counter}.png`, alt=`${pres.title} Screenshot`)
                .card-content
                  h5= pres.title       
                  p= pres.desc  
                  br
                  .link
                    a(href= pres.link) Link to presentation   
            - counter++;
    footer
      h6
        p.grey-text Built with #[a(href='https://pugjs.org') Pug(Jade)] and #[a(href='https://expressjs.com/') Express], hosted on #[a(href='https://github.com/flxwu/presentations/') Github Pages]
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js")
    
