body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

main .subtitle {
    margin-top: -2rem !important;
    width:75%; 
    margin:0 auto;
    text-style: italic;
    font-weight: bold;
}

main ol {
    margin: auto;
}

main .container {
    align-items: center;
    padding-top: 2rem;
}

main .row {
    width: 100vw;
}


@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  .row { width: 76vw !important; }  
}
      
/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
  .row { width: 80vw !important; }
}

.card-left {
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-left: auto;
    height: 30rem;
}

.card-right {
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-right: auto;
    height: 30rem;
}

img {
    height: 18rem;
}

.link {
    position: absolute;
    left: 50%;
    bottom: 10px;
}

.link a {
    position: relative;
    left: -50%;
}

a:hover {
    color: #aaa;
}

.grey-text {
    text-align: center
}
